<!-- uvp-prod-->

<div class="uvp-container">
    <div class="uvp-item">
      <img class="uvp-image" src="{{ 'Union.svg' | asset_url }}" width="50" height="50" alt="UVP 1">
      <div class="uvp-text">
        <p class="uvp-title">Guarantee</p>
        <p class="uvp-description">satisfaction</p>
      </div>
    </div>
  
    <div class="uvp-item">
      <img class="uvp-image" src="{{ 'Vector.svg' | asset_url }}" width="50" height="50" alt="UVP 2">
      <div class="uvp-text">
        <p class="uvp-title">Free Shipping</p>
        <p class="uvp-description">within USA</p>
      </div>
    </div>
  
    <div class="uvp-item">
      <img class="uvp-image" src="{{ 'heart.svg' | asset_url }}" width="50" height="50" alt="UVP 3">
      <div class="uvp-text">
        <p class="uvp-title">Signal Catalogue</p>
        <p class="uvp-description">Updates Included</p>
      </div>
    </div>
  
    <div class="uvp-item">
      <img class="uvp-image" src="{{ 'telemarketing.svg' | asset_url }}" width="50" height="50" alt="UVP 4">
      <div class="uvp-text">
        <p class="uvp-title">Customer Support via </p>
        <p class="uvp-description">E-mail, Phone, and Chat</p>
      </div>
    </div>
  </div>
  